spring:
  application:
    name: histo-ai-agent

  datasource:
    url: jdbc:mysql://localhost:3306/ai_chat_db?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: aiuser
    password: aipass123
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379

  profiles:
    active: local

#  ai:
#    ollama:
#      base-url: http://localhost:11434
#      chat:
#        model:

mybatis-plus:
  type-aliases-package: com.yu.histoaiagent.entity
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: isDel
      logic-delete-value: 1
      logic-not-delete-value: 0

server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi????
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.yu.histoaiagent.controller
# knife4j???????????????
knife4j:
  enable: true
  setting:
    language: zh_cn
