spring:
  application:
    name: histo-ai-agent
  profiles:
    active: local
#  ai:
#    ollama:
#      base-url: http://localhost:11434
#      chat:
#        model:
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi????
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.yu.histoaiagent.controller
# knife4j???????????????
knife4j:
  enable: true
  setting:
    language: zh_cn
